---
// Layout principal para el sitio web
const { title = "Javier Aragón | Desarrollador Web" } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="./assets/logo.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <!-- <link rel="stylesheet" href="../style/global.css" /> -->
    <style>
      body {
        margin: 0;
        font-family: "Inter", "Segoe UI", Arial, sans-serif;
        background: #222831;
        color: #fff;
        min-height: 100vh;
      }
      main {
        min-height: 80vh;
      }
    </style>
  </head>
  <body>
    <slot name="header" />
    <main>
      <slot />
    </main>
    <slot name="footer" />

    <script defer src="/scripts/menu-hamburger.js"></script>
  
  </body>
</html>
